<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>Documentation for version: 0.0.2</h1>

		<h2>Root node: /api/</h2>

		<h3>1. End points</h3>
		<b>Note:</b> for all date related end points, if end_date is ommitted, it is taken as today. if start_date is ommitted it is taken as end_date - 1 day
		<ul>
			<li>/ : root node</li>
			<li>/groups/ : list of all groups</li>
			<li>/groups/&lt;group-id&gt;/ : details about a specific group</li>
			<li>/groups/&lt;group-id&gt;/members/ : details about number of members for the given group</li>
			<li>/groups/&lt;group-id&gt;/members/new/?start_date=YYYY-MM-DD&amp;end_date=YYYY-MM-DD : list of new members for the given group within the time period</li>
			<li>/groups/&lt;group-id&gt;/members/left/?start_date=YYYY-MM-DD&amp;end_date=YYYY-MM-DD : list of left members for the given group within the time period</li>
			<li>/groups/&lt;group-id&gt;/members/present/?start_date=YYYY-MM-DD&amp;end_date=YYYY-MM-DD : list of present members for the given group within the time period</li>
			<li>/users/ : number of all users</li>
			<li>/users/&lt;user-id&gt;/ : details about a specific user</li>
		</ul>

		<h3>2. Nodes</h3>
		<ul>
			<li>Group: {"id": group id, "name": group name, "created_on": date group created on}</li>
			<li>Member: {"id": user id, "name": user name, "join_time": time of joining group}</li>
			<li>User: {"id": user id, "name": user name, "is_page": is user a person or page, "join_time": facebook joining time, "friends": number of friends, "groups": number of groups, "lives": where the user lives, "works": where the user works (or page description if user is a page), "study": where the user studies}</li>
		</ul>
	</body>
</html>
