<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Add a new group</title>
	</head>
	<body>
		<form method="POST" action="">
			Name: <input name="group_name" type="text" /><br />
			Link: <input name="group_link" type="text" /><br />
			Created on: <input name="group_created_on" type="date" /><br />
			<input type="submit" /><br />
		</form>

		<br />
		<a href="/">Back</a>
	</body>
</html>
